<div class="ribbon-box">
   <%= @current_message %>
</div>

<div id="page-wrap-outer">
<% if @hide_left_arrow != true %>
  <%= link_to 'previous', days_path(:date => @previous_day.to_date), :class => "prev" %>
<% end %>
<% if @hide_right_arrow != true %>
  <%= link_to 'next', days_path(:date => @next_day.to_date), :class =>"next" %>
<% end %>
  <div id="page-wrap">
  <div id = "accordion">
    <h2 id="title"> <%= day_text(@current_day.to_time)[:day] %> </h2>
    <div class = "accordion_body">
        <% if day_text(@current_day.to_time)[:day] == "Today" %>
            <div id = "jclock"> </div>
        <% end %>
    <ul id="info-box">
      <li> <%= formatted_day(@current_day.to_time) %> </li>
      <li> <%= @current_status %> </li>
    </ul>
     </div>


      <h2 id = "title"><%= day_text(@current_day.to_time)[:absent_text] %></h2>
      <div id = "absent_today" class = "accordion_body">
        <%= render 'leaves/on_leave_today' %>
      </div>
      <h2 id = "title">Our Holidays</h2>
      <div id = "calendar" class = "accordion_body">
        <%= render 'calendar_partial' %>
      </div>
    </div>
  </div>
</div>
